{{- with site.Params.assets.pixelFont -}}
{{- if in . "jsdelivr" }}<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>{{ end }}
<link rel="stylesheet" href="{{ . }}">
{{- end -}}
{{- $css := slice
    (resources.Get "css/tokens.css")
    (resources.Get "css/base.css")
    (resources.Get "css/layout.css")
    (resources.Get "css/components.css")
    (resources.Get "css/markdown.css")
    (resources.Get "css/home.css")
    (resources.Get "css/projects.css")
    (resources.Get "css/links.css")
  | resources.Concat "css/main.css"
  | minify
  | fingerprint -}}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
