{{- with .Params.image -}}
  {{- $img := . -}}
  {{- if or (hasPrefix $img "http") (hasPrefix $img "/") -}}
    <img src="{{ $img }}" alt="" loading="lazy">
  {{- else -}}
    {{- $res := resources.Get $img -}}
    {{- if and $res (ne $res.MediaType.SubType "svg") -}}
      {{- $r := $res.Fill "176x176 Center" -}}
      <img src="{{ $r.RelPermalink }}" width="{{ $r.Width }}" height="{{ $r.Height }}" alt="" loading="lazy">
    {{- else if $res -}}
      <img src="{{ $res.RelPermalink }}" alt="" loading="lazy">
    {{- else -}}
      {{ partial "project-default-icon.html" $ }}
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- with .Params.icon -}}
    <span class="project-emoji" aria-hidden="true">{{ . }}</span>
  {{- else -}}
    {{ partial "project-default-icon.html" . }}
  {{- end -}}
{{- end -}}
